In [ ]:
#This project demonstrates proficiency in Python programming including web scraping techniques.

In [54]:
from bs4 import BeautifulSoup
import requests

In [55]:
url = 'https://en.wikipedia.org/wiki/Total_fertility_rate'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [56]:
TFRGlobalTable = soup.find('table', class_='wikitable mw-collapsible')

In [57]:
h = soup.find('table', class_='wikitable mw-collapsible')

In [58]:
#find titles
TRlist = TFRGlobalTable.find_all('tr')

titles = []
for tr in TRlist[1:2]:
    data_elements = tr.find_all('td')  
    if data_elements:
        for data_element in data_elements:
            titles.append(data_element.text.strip()) 

print(titles)

['Years', 'Global Average', 'More developed regions', 'Less developed regions']

In [59]:
import pandas as pd

In [60]:
df = pd.DataFrame(columns = titles)

In [82]:
column_data = TFRGlobalTable.find_all('tr')

In [62]:
for row in column_data[4:16]:
    row_data = row.find_all('td')
    individual_row = [data.text.strip().replace('â€“', '-') for data in row_data]
    length=len(df)
    df.loc[length] = individual_row
df

        Years Global Average More developed regions Less developed regions
0   1960–1965           4.70                   2.71                   5.64
1   1965–1970           5.08                   2.51                   6.23
2   1970–1975           4.83                   2.32                   5.87
3   1975–1980           4.08                   2.01                   4.88
4   1980–1985           3.75                   1.89                   4.40
5   1985–1990           3.52                   1.82                   4.03
6   1990–1995           3.31                   1.78                   3.71
7   1995–2000           2.88                   1.58                   3.18
8   2000–2005           2.73                   1.57                   2.98
9   2005–2010           2.62                   1.61                   2.81
10  2010–2015           2.59                   1.69                   2.74
11  2015–2020           2.52                   1.67                   2.66